@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* -----------shared styles----------- */
*{
   font-family: "Mulish", sans-serif;
   font-optical-sizing: auto;
   font-size: 1em;
   font-weight: 400;
   font-style: normal;

}
.mulish-heading {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

html{
    width: 1440px;
}


body{
background-color: azure;
}
.btn-primary{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 1.25em;
    background: #FF5400;
    
}

.text-white{
    color: #fff;
}
/* -------Shares Style Ends--------- */
/* --------------------------------- */
/* Header Section */

/* Navbar Section */

/* Banner Section */
.banner-container{
    width: 81%;
    height: 500px;
    margin: 0px auto;
    background-image: url("../images/banner.png");
    border-radius: 1em;
    

}
.container-hue{
    height: 500px;
    margin: 0px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 1em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-box{
    width: 800px;
    margin: 2em auto;
    text-align: center;
}
.banner-box p{
    width: 60%;
    margin: 0.5em auto;
}
.banner-box h2{
    font-size: 3em;
    width: 90%;
    margin: 0.5em auto;
    text-align: center;
}
#banner-box-2{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 1em;
    gap: 1.5em;
}
#banner-box-2 .banner-input{
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #fff;
}

#banner-box-2 .btn-primary{
    font-size: 1em;
    font-weight: 700;
}

/* -----------extra section----------- */
.extra-card-container{
    display: flex;
    gap: 0.6em;
    width: 1200px;
 
}
.extra-container > h2{
    font-size: 2.5em;
    color: transparent;
    text-align: center;
    animation: hotDealAnim 3s linear infinite


}
@keyframes hotDealAnim {
    0% {
        background: linear-gradient(#008000, #0F0);
        -webkit-background-clip: text;
    }
    25% {
        background: linear-gradient(#f7fad3, #8f8f07);
        -webkit-background-clip: text;
    }

    50% {
        background: linear-gradient(#e71708, #fae0e1);
        -webkit-background-clip: text;
    }
    75% {
        background: linear-gradient(#bfe8f0, #02848d);
        -webkit-background-clip: text;
    }
    100% {
        background: linear-gradient(#000FFF, #3CE7D7);
        -webkit-background-clip: text;
    }
}
.extra-card img{
    width: 100%;
}